beautifulsoup4
certifi
charset-normalizer
click
collection
colorama
commonmark
cursor
dnspython
idna
lxml
mcp==1.29.1
mypy-extensions
pathspec
platformdirs
psutil
Pygments
regex
requests
rich
soupsieve
tomli
typing_extensions
urllib3
